* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.loader{
  position: fixed;
  top: 0;
  left: 0;
  background: #0e111f;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disappear{
  animation: vanish 7s forwards;
}
@keyframes vanish {
  100%{
    opacity: 50;
    visibility: hidden;
  }
}

body{
  background-image: url('images/');
} 

.header {
  color: white;
  font-size: 30px;
}
.button-33 {
  background-color: #00b7ff;
  border-radius: 100px;
  box-shadow: rgba(29, 95, 170, 0.2) 0 -25px 18px -14px inset,rgba(1, 93, 168, 0.15) 0 1px 2px,rgba(26, 47, 161, 0.15) 0 2px 4px,rgba(34, 5, 196, 0.15) 0 4px 8px,rgba(10, 124, 218, 0.15) 0 8px 16px,rgba(3, 125, 206, 0.15) 0 16px 32px;
  color: rgb(11, 114, 211);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 14px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(35, 39, 255, 0.35) 0 -25px 18px -14px inset,rgba(3, 175, 255, 0.25) 0 1px 2px,rgba(0, 60, 255, 0.25) 0 2px 4px,rgba(0, 119, 255, 0.25) 0 4px 8px,rgba(4, 34, 117, 0.25) 0 8px 16px,rgba(8, 50, 187, 0.25) 0 16px 32px;
  transform: scale(1.05);
}

